/* Reset dasar */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fb;
  color: #2c3e50;
}


/* Navbar container */
.navbar {
    background-color: #eaf4ec;
    padding: 20px 30px;
    position: sticky; 
    top: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-navbar {
  height: 60px;
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #a9e7ad; 
}

/* Gambar toko */
.image-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #000;
}

.image-container .bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-size: 22px;
}


.kontak-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #f5f5f5;
}

.gmaps iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

.gmaps {
    flex: 1 1 45%;
    min-width: 300px;
    height: 400px;
}

.form-kontak {
    flex: 1 1 45%;
    min-width: 300px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-kontak h3 {
    margin-bottom: 15px;
}

.form-kontak label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-kontak input,
.form-kontak textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-kontak textarea {
    resize: vertical;
}

.form-kontak button {
    margin-top: 15px;
    background-color: #2f7aea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-kontak button:hover {
    background-color: #1d5fc4;
}



/* Tentang Kami */
.tentangkami {
  background-color: #eaf4ec;
  text-align: center;
  padding: 30px;
  color: #2c3e50;
  /* border-top: 3px solid #90C43D; */
}

#successMessage {
  display: none; /* Tersembunyi secara default */
  margin-top: 20px;
  padding: 15px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  text-align: center;
}